<% @posts.each do |post| %>
   <div class='rounded' id='post_wrapper'> 
   <div id='post'>
   <h1><%= post.title %></h1>
    <%= post.body %>
</div>
</div>
<% end %>

<%= link_to 'New Post', new_post_path %>
